<?xml version="1.0"?>
<config>
    <modules>
        <IntegerNet_SolrPro>
            <version>1.6.0.2</version>
        </IntegerNet_SolrPro>
    </modules>
    <global>
        <models>
            <integernet_solrpro>
                <class>IntegerNet_SolrPro_Model</class>
                <resourceModel>integernet_solrpro_resource</resourceModel>
            </integernet_solrpro>

            <integernet_solrpro_resource>
                <class>IntegerNet_SolrPro_Model_Resource</class>
            </integernet_solrpro_resource>
        </models>

        <blocks>
            <integernet_solrpro>
                <class>IntegerNet_SolrPro_Block</class>
            </integernet_solrpro>
            
            <catalogsearch>
                <rewrite>
                    <autocomplete>IntegerNet_SolrPro_Block_Autosuggest</autocomplete>
                </rewrite>
            </catalogsearch>
        </blocks>

        <helpers>
            <integernet_solrpro>
                <class>IntegerNet_SolrPro_Helper</class>
            </integernet_solrpro>
        </helpers>

        <events>
            <application_clean_cache>
                <observers>
                    <integernet_solr>
                        <type>singleton</type>
                        <class>integernet_solrpro/observer</class>
                        <method>applicationCleanCache</method>
                    </integernet_solr>
                </observers>
            </application_clean_cache>

            <cms_page_save_commit_after>
                <observers>
                    <integernet_solr>
                        <type>singleton</type>
                        <class>integernet_solrpro/cmsIndexer</class>
                        <method>cmsPageSaveAfter</method>
                    </integernet_solr>
                </observers>
            </cms_page_save_commit_after>

            <cms_page_delete_commit_after>
                <observers>
                    <integernet_solr>
                        <type>singleton</type>
                        <class>integernet_solrpro/cmsIndexer</class>
                        <method>cmsPageDeleteAfter</method>
                    </integernet_solr>
                </observers>
            </cms_page_delete_commit_after>
        </events>
    </global>

    <frontend>
        <events>
            <controller_action_predispatch_catalog_category_view>
                <observers>
                    <integernet_solr>
                        <type>singleton</type>
                        <class>integernet_solrpro/observer</class>
                        <method>controllerActionPredispatchCatalogCategoryView</method>
                    </integernet_solr>
                </observers>
            </controller_action_predispatch_catalog_category_view>
        </events>

        <translate>
            <modules>
                <integernet_solrpro>
                    <files>
                        <default>IntegerNet_SolrPro.csv</default>
                    </files>
                </integernet_solrpro>
            </modules>
        </translate>

        <layout>
            <updates>
                <integernet_solrpro_tabs>
                    <file>integernet/solr/tabs.xml</file>
                </integernet_solrpro_tabs>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <IntegerNet_SolrPro after="Mage_Adminhtml">IntegerNet_SolrPro_Adminhtml</IntegerNet_SolrPro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <integernet_solrpro>
                    <file>integernet/solrpro.xml</file>
                </integernet_solrpro>
            </updates>
        </layout>
        
        <events>
            <admin_system_config_changed_section_integernet_solr>
                <observers>
                    <integernet_solr>
                        <type>singleton</type>
                        <class>integernet_solrpro/observer</class>
                        <method>adminSystemConfigChangedSectionIntegernetSolr</method>
                    </integernet_solr>
                </observers>
            </admin_system_config_changed_section_integernet_solr>
            <clean_catalog_images_cache_after>
                <observers>
                    <timage_clean_cache>
                        <class>integernet_solrpro/observer</class>
                        <method>cleanImageCache</method>
                    </timage_clean_cache>
                </observers>
            </clean_catalog_images_cache_after>
            <admin_session_user_login_success>
                <observers>
                    <integernet_solr>
                        <type>singleton</type>
                        <class>integernet_solrpro/observer</class>
                        <method>adminSessionUserLoginSuccess</method>
                    </integernet_solr>
                </observers>
            </admin_session_user_login_success>
            <adminhtml_cms_page_edit_tab_main_prepare_form>
                <observers>
                    <integernet_solr>
                        <type>singleton</type>
                        <class>integernet_solrpro/observer</class>
                        <method>adminhtmlCmsPageEditTabContentPrepareForm</method>
                    </integernet_solr>
                </observers>
            </adminhtml_cms_page_edit_tab_main_prepare_form>
        </events>

        <translate>
            <modules>
                <integernet_solrpro>
                    <files>
                        <default>IntegerNet_SolrPro.csv</default>
                    </files>
                </integernet_solrpro>
            </modules>
        </translate>
    </adminhtml>

    <crontab>
        <jobs>
            <integernet_solr_rebuild_config>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>integernet_solrpro/observer::storeSolrConfig</model>
                </run>
            </integernet_solr_rebuild_config>
            <integernet_solr_check_server_connection>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>integernet_solrpro/observer::checkSolrServerConnection</model>
                </run>
            </integernet_solr_check_server_connection>
        </jobs>
    </crontab>

    <default>
        <integernet_solr>
            <connection_check>
                <check_connection>0</check_connection>
                <send_email_on_nth_failure>1</send_email_on_nth_failure>
                <email_template>integernet_solr_connection_check_email_template</email_template>
            </connection_check>
            <fuzzy>
                <is_active_autosuggest>1</is_active_autosuggest>
                <sensitivity_autosuggest>0.75</sensitivity_autosuggest>
                <minimum_results_autosuggest>0</minimum_results_autosuggest>
            </fuzzy>
            <results>
                <use_ajax_for_filter_results>0</use_ajax_for_filter_results>
            </results>
            <category>
                <is_active>0</is_active>
                <filter_position>1</filter_position>
                <is_indexer_active>0</is_indexer_active>
                <use_in_search_results>1</use_in_search_results>
                <max_number_results>10</max_number_results>
                <fuzzy_is_active>1</fuzzy_is_active>
                <fuzzy_sensitivity>0.75</fuzzy_sensitivity>
            </category>
            <cms>
                <is_active>0</is_active>
                <use_in_search_results>1</use_in_search_results>
                <max_number_results>10</max_number_results>
                <fuzzy_is_active>1</fuzzy_is_active>
                <fuzzy_sensitivity>0.75</fuzzy_sensitivity>
            </cms>
            <autosuggest>
                <is_active>1</is_active>
                <use_php_file_in_home_dir>1</use_php_file_in_home_dir>
                <max_number_searchword_suggestions>5</max_number_searchword_suggestions>
                <max_number_product_suggestions>3</max_number_product_suggestions>
                <max_number_category_suggestions>0</max_number_category_suggestions>
                <max_number_cms_page_suggestions>0</max_number_cms_page_suggestions>
                <show_complete_category_path>1</show_complete_category_path>
                <category_link_type>direct</category_link_type>
                <attribute_filter_suggestions>a:0:{}</attribute_filter_suggestions>
            </autosuggest>
            <solr_theme>
                <loader_style>solr-system</loader_style>
            </solr_theme>
            <dev>
                <register_autoloader>1</register_autoloader>
                <autoloader_basepath>lib/IntegerNet_Solr</autoloader_basepath>
            </dev>
        </integernet_solr>
    </default>

    <phpunit>
        <suite>
            <modules>
                <IntegerNet_SolrPro/>
            </modules>
        </suite>
    </phpunit>
</config>