<?xml version="1.0"?>
<config>
    <sections>
        <integernet_solr>
            <groups>
                <general>
                    <fields>
                        <license_key translate="label,comment" module="integernet_solrpro">
                            <label>License Key</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Example: AAAAA-BBBBB. Will be necessary two weeks after install.]]></comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </license_key>
                    </fields>
                </general>

                <connection_check translate="label" module="integernet_solrpro">
                    <label>Connection Check</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>25</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>

                        <is_active translate="label,comment">
                            <label>Check Solr Server Connectivity automatically</label>
                            <comment>A test request will be sent to the server every 5 minutes.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_active>

                        <send_email_on_nth_failure translate="label">
                            <label>Send Notification Email after X Failures in a Row</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits validate-greater-than-zero</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <is_active>1</is_active>
                            </depends>
                        </send_email_on_nth_failure>

                        <recipient_emails translate="label">
                            <label>Email Recipient(s)</label>
                            <comment>Divide email addresses by comma</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <is_active>1</is_active>
                            </depends>
                        </recipient_emails>

                        <email_template translate="label">
                            <label>Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <is_active>1</is_active>
                            </depends>
                        </email_template>

                        <identity translate="label">
                            <label>Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <is_active>1</is_active>
                            </depends>
                        </identity>
                    </fields>
                </connection_check>

                <solr_theme translate="label" module="integernet_solrpro">
                    <label>Theme</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>38</sort_order>
                    <show_in_default>0</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <loader_style translate="label,comment">
                            <label>Loader Style</label>
                            <comment>Select AJAX loader style</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>integernet_solr/source_loaderStyle</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </loader_style>
                    </fields>
                </solr_theme>

                <fuzzy>
                    <fields>
                        <is_active_autosuggest translate="label" module="integernet_solrpro">
                            <label>Is active for Autosuggest</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_active_autosuggest>
                        <sensitivity_autosuggest translate="label" module="integernet_solrpro">
                            <label>Sensitivity for Autosuggest</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Value between 0 and 1. Smaller values mean more fuzzy search results.</comment>
                            <depends><is_active_autosuggest>1</is_active_autosuggest></depends>
                        </sensitivity_autosuggest>
                        <minimum_results_autosuggest translate="label" module="integernet_solrpro">
                            <label>Number of Sufficient Direct Search Results for Autosuggest</label>
                            <comment>If there are at least this many search results for autosuggest, fuzzy search will not be performed. If you enter 0 or no value, fuzzy search will always be performed.</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>45</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><is_active_autosuggest>1</is_active_autosuggest></depends>
                        </minimum_results_autosuggest>
                    </fields>
                </fuzzy>

                <results>
                    <fields>
                        <use_html_from_solr translate="label,comment" module="integernet_solrpro">
                            <label>Use HTML from Solr Index</label>
                            <comment><![CDATA[Advantages: faster search<br />Disadvantages: slower indexing, no user dependant results]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_html_from_solr>
                        <use_ajax_for_filter_results translate="label,comment" module="integernet_solrpro">
                            <label>Use AJAX for filter results</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>0</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </use_ajax_for_filter_results>
                    </fields>
                </results>

                <category translate="label" module="integernet_solrpro">
                    <label>Category Pages</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_active translate="label">
                            <label>Use Solr to display products on category pages</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_active>
                        <filter_position translate="label">
                            <label>Position of Filters</label>
                            <frontend_type>select</frontend_type>
                            <source_model>integernet_solr/source_filterPosition</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </filter_position>
                        <is_indexer_active translate="label,comment">
                            <label>Use Solr to index category pages</label>
                            <comment>Used for autosuggest and search results</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_indexer_active>
                        <use_in_search_results translate="label,comment">
                            <label>Display categories as search results</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><is_indexer_active>1</is_indexer_active></depends>
                        </use_in_search_results>
                        <max_number_results translate="label">
                            <label>Maximum number of results</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><use_in_search_results>1</use_in_search_results></depends>
                        </max_number_results>
                        <fuzzy_is_active translate="label">
                            <label>Fuzzy Search is active</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><use_in_search_results>1</use_in_search_results></depends>
                        </fuzzy_is_active>
                        <fuzzy_sensitivity translate="label,comment">
                            <label>Sensitivity for Search</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Value between 0 and 1. Smaller values mean more fuzzy search results.</comment>
                            <depends><fuzzy_is_active>1</fuzzy_is_active></depends>
                        </fuzzy_sensitivity>
                    </fields>
                </category>

                <cms translate="label" module="integernet_solrpro">
                    <label>CMS</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>70</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_active translate="label,comment">
                            <label>Use Solr to index CMS pages</label>
                            <comment>Used for autosuggest and search results</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_active>
                        <use_in_search_results translate="label,comment">
                            <label>Display CMS pages as search results</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><is_active>1</is_active></depends>
                        </use_in_search_results>
                        <max_number_results translate="label">
                            <label>Maximum number of results</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><use_in_search_results>1</use_in_search_results></depends>
                        </max_number_results>
                        <fuzzy_is_active translate="label">
                            <label>Fuzzy Search is active</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><use_in_search_results>1</use_in_search_results></depends>
                        </fuzzy_is_active>
                        <fuzzy_sensitivity translate="label,comment">
                            <label>Sensitivity for Search</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Value between 0 and 1. Smaller values mean more fuzzy search results.</comment>
                            <depends><fuzzy_is_active>1</fuzzy_is_active></depends>
                        </fuzzy_sensitivity>
                    </fields>
                </cms>

                <autosuggest translate="label" module="integernet_solrpro">
                    <label>Autosuggest Box</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>80</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_active translate="label">
                            <label>Is active</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_active>
                        <use_php_file_in_home_dir translate="label,comment">
                            <label>Method to retrieve autosuggest information</label>
                            <comment>Please see manual for information about the different methods.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>integernet_solr/source_autosuggestMethod</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <is_active>1</is_active>
                            </depends>
                        </use_php_file_in_home_dir>
                        <max_number_searchword_suggestions translate="label">
                            <label>Maximum number of searchword suggestions</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><is_active>1</is_active></depends>
                        </max_number_searchword_suggestions>
                        <max_number_product_suggestions translate="label,comment">
                            <label>Maximum number of product suggestions</label>
                            <comment>0 = don't show</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><is_active>1</is_active></depends>
                        </max_number_product_suggestions>
                        <max_number_category_suggestions translate="label,comment">
                            <label>Maximum number of category suggestions</label>
                            <comment>0 = don't show&lt;br /&gt;Attention: If &lt;i&gt;Category Indexing&lt;/i&gt; is active, the suggestions will be better, but it will affect the performance of the autosuggest!</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><is_active>1</is_active></depends>
                        </max_number_category_suggestions>
                        <max_number_cms_page_suggestions translate="label,comment">
                            <label>Maximum number of cms page suggestions</label>
                            <comment>0 = don't show&lt;br /&gt;Indexing of CMS pages must be active.&lt;br /&gt;Attention: This will affect the performance of the autosuggest!</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>55</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><is_active>1</is_active></depends>
                        </max_number_cms_page_suggestions>
                        <show_complete_category_path translate="label">
                            <label>Show complete category path</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><is_active>1</is_active></depends>
                        </show_complete_category_path>
                        <category_link_type translate="label">
                            <label>Type of Category Links</label>
                            <frontend_type>select</frontend_type>
                            <source_model>integernet_solr/source_categoryLinkType</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><is_active>1</is_active></depends>
                        </category_link_type>
                        <attribute_filter_suggestions translate="label">
                            <label>Attribute Filter Suggestions</label>
                            <comment>0 = show all</comment>
                            <frontend_model>integernet_solrpro/config_attributeFilterSuggestions</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><is_active>1</is_active></depends>
                        </attribute_filter_suggestions>
                    </fields>
                </autosuggest>
            </groups>
        </integernet_solr>
    </sections>
</config>