<?xml version="1.0"?>
<config>
    <modules>
        <IntegerNet_Solr>
            <version>1.2.3</version>
        </IntegerNet_Solr>
    </modules>
    <global>
        <models>
            <integernet_solr>
                <class>IntegerNet_Solr_Model</class>
                <resourceModel>integernet_solr_resource</resourceModel>
            </integernet_solr>

            <integernet_solr_resource>
                <class>IntegerNet_Solr_Model_Resource</class>
            </integernet_solr_resource>

            <catalog_resource>
                <rewrite>
                    <layer_filter_attribute>IntegerNet_Solr_Model_Resource_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
                    <layer_filter_price>IntegerNet_Solr_Model_Resource_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog_resource>

            <catalogsearch>
                <rewrite>
                    <layer>IntegerNet_Solr_Model_CatalogSearch_Layer</layer>
                </rewrite>
            </catalogsearch>

            <catalog>
                <rewrite>
                    <layer_filter_price>IntegerNet_Solr_Model_Catalog_Layer_Filter_Price</layer_filter_price>
                </rewrite>
            </catalog>
        </models>

        <blocks>
            <integernet_solr>
                <class>IntegerNet_Solr_Block</class>
            </integernet_solr>

            <catalogsearch>
                <rewrite>
                    <autocomplete>IntegerNet_Solr_Block_Autosuggest</autocomplete>
                </rewrite>
            </catalogsearch>
        </blocks>

        <helpers>
            <integernet_solr>
                <class>IntegerNet_Solr_Helper</class>
            </integernet_solr>
            <catalogsearch>
                <rewrite>
                    <data>IntegerNet_Solr_Helper_CatalogSearch_Data</data>
                </rewrite>
            </catalogsearch>
        </helpers>

        <index>
            <indexer>
                <integernet_solr>
                    <model>integernet_solr/indexer</model>
                </integernet_solr>
            </indexer>
        </index>

        <events>
            <catalog_block_product_list_collection>
                <observers>
                    <review>
                        <type>model</type>
                        <class>review/observer</class>
                        <method>catalogBlockProductCollectionBeforeToHtml</method>
                    </review>
                </observers>
            </catalog_block_product_list_collection>

            <catalog_product_delete_after>
                <observers>
                    <integernet_solr>
                        <type>singleton</type>
                        <class>integernet_solr/observer</class>
                        <method>catalogProductDeleteAfter</method>
                    </integernet_solr>
                </observers>
            </catalog_product_delete_after>

            <application_clean_cache>
                <observers>
                    <integernet_solr>
                        <type>singleton</type>
                        <class>integernet_solr/observer</class>
                        <method>applicationCleanCache</method>
                    </integernet_solr>
                </observers>
            </application_clean_cache>
        </events>

        <resources>
            <integernet_solr_setup>
                <setup>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                    <module>IntegerNet_Solr</module>
                </setup>
            </integernet_solr_setup>
        </resources>

        <template>
            <email>
                <integernet_solr_connection_check_email_template translate="label" module="integernet_solr">
                    <label>Solr Connection Check Notification</label>
                    <file>integernet_solr/connection_check.txt</file>
                    <type>text</type>
                </integernet_solr_connection_check_email_template>
            </email>
        </template>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <integernet_solr>
                    <files>
                        <default>IntegerNet_Solr.csv</default>
                    </files>
                </integernet_solr>
            </modules>
        </translate>

        <layout>
            <updates>
                <integernet_solr>
                    <file>integernet/solr.xml</file>
                </integernet_solr>
            </updates>
        </layout>

        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <integernet_solr>
                        <type>singleton</type>
                        <class>integernet_solr/observer</class>
                        <method>adminhtmlCatalogProductAttributeEditPrepareForm</method>
                    </integernet_solr>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
            <core_block_abstract_to_html_before>
                <observers>
                    <integernet_solr>
                        <type>singleton</type>
                        <class>integernet_solr/observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </integernet_solr>
                </observers>
            </core_block_abstract_to_html_before>
            <admin_system_config_changed_section_integernet_solr>
                <observers>
                    <integernet_solr>
                        <type>singleton</type>
                        <class>integernet_solr/observer</class>
                        <method>adminSystemConfigChangedSectionIntegernetSolr</method>
                    </integernet_solr>
                </observers>
            </admin_system_config_changed_section_integernet_solr>
            <admin_session_user_login_success>
                <observers>
                    <integernet_solr>
                        <type>singleton</type>
                        <class>integernet_solr/observer</class>
                        <method>adminSessionUserLoginSuccess</method>
                    </integernet_solr>
                </observers>
            </admin_session_user_login_success>
        </events>
    </adminhtml>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <IntegerNet_Solr after="Mage_Adminhtml">IntegerNet_Solr_Adminhtml</IntegerNet_Solr>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <translate>
            <modules>
                <integernet_solr>
                    <files>
                        <default>IntegerNet_Solr.csv</default>
                    </files>
                </integernet_solr>
            </modules>
        </translate>

        <layout>
            <updates>
                <integernet_solr>
                    <file>integernet/solr.xml</file>
                </integernet_solr>
            </updates>
        </layout>

        <events>
            <controller_action_predispatch_catalogsearch_result_index>
                <observers>
                    <integernet_solr>
                        <type>singleton</type>
                        <class>integernet_solr/observer</class>
                        <method>controllerActionPredispatchCatalogsearchResultIndex</method>
                    </integernet_solr>
                </observers>
            </controller_action_predispatch_catalogsearch_result_index>
            <catalog_block_product_list_collection>
                <observers>
                    <review>
                        <type>disabled</type>
                    </review>
                </observers>
            </catalog_block_product_list_collection>
        </events>
    </frontend>

    <crontab>
        <jobs>
            <integernet_solr_rebuild_config>
                <schedule>
                    <cron_expr>0 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>integernet_solr/observer::storeSolrConfig</model>
                </run>
            </integernet_solr_rebuild_config>
            <integernet_solr_check_server_connection>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>integernet_solr/observer::checkSolrServerConnection</model>
                </run>
            </integernet_solr_check_server_connection>
        </jobs>
    </crontab>

    <default>
        <integernet_solr>
            <general>
                <is_active>1</is_active>
                <log>0</log>
            </general>
            <server>
                <http_method>curl</http_method>
            </server>
            <connection_check>
                <check_connection>0</check_connection>
                <send_email_on_nth_failure>1</send_email_on_nth_failure>
                <email_template>integernet_solr_connection_check_email_template</email_template>
            </connection_check>
            <indexing>
                <pagesize>1000</pagesize>
                <delete_documents_before_indexing>1</delete_documents_before_indexing>
            </indexing>
            <fuzzy>
                <is_active>1</is_active>
                <is_active_autosuggest>1</is_active_autosuggest>
                <sensitivity>0.7</sensitivity>
                <sensitivity_autosuggest>0.7</sensitivity_autosuggest>
                <minimum_results>1</minimum_results>
                <minimum_results_autosuggest>1</minimum_results_autosuggest>
            </fuzzy>
            <results>
                <use_html_from_solr>0</use_html_from_solr>
                <search_operator>AND</search_operator>
                <price_step_size>10</price_step_size>
                <max_price>200</max_price>
                <use_custom_price_intervals>0</use_custom_price_intervals>
                <custom_price_intervals>10,20,50,100,200,300,400,500</custom_price_intervals>
            </results>
            <autosuggest>
                <is_active>1</is_active>
                <use_php_file_in_home_dir>1</use_php_file_in_home_dir>
                <max_number_searchword_suggestions>5</max_number_searchword_suggestions>
                <max_number_product_suggestions>3</max_number_product_suggestions>
                <max_number_category_suggestions>8</max_number_category_suggestions>
                <show_complete_category_path>0</show_complete_category_path>
                <category_link_type>filter</category_link_type>
                <attribute_filter_suggestions>a:0:{}</attribute_filter_suggestions>
            </autosuggest>
        </integernet_solr>
    </default>

    <phpunit>
        <suite>
            <modules>
                <IntegerNet_Solr/>
            </modules>
        </suite>
    </phpunit>
</config>