<?xml version="1.0"?>
<config>
    <sections>
        <integernet_solr translate="label" module="integernet_solr">
            <label>Solr</label>
            <tab>service</tab>
            <sort_order>28</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <general translate="label"  module="integernet_solr">
                    <label>General</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_active translate="label">
                            <label>Is active</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_active>

                        <log translate="label,comment">
                            <label>Activate Logging</label>
                            <comment>The logs can be found at var/log/solr.log. Make sure to have logging activated.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </log>
                    </fields>
                </general>

                <server translate="label"  module="integernet_solr">
                    <label>Solr Server</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <host translate="label,comment">
                            <label>Host</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Example: localhost, 192.168.46.102]]></comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </host>

                        <port translate="label,comment">
                            <label>Server Port</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Example: 8081]]></comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </port>

                        <path translate="label,comment">
                            <label>Path</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Example: /solr/]]></comment>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </path>

                        <http_method translate="label,comment">
                            <label>HTTP Transport Method</label>
                            <comment>Please change if you are getting communication errors</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>integernet_solr/source_httpTransportMethod</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </http_method>
                    </fields>
                </server>

                <indexing translate="label">
                    <label>Indexing</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <pagesize translate="label">
                            <label>Number of Products per Bunch</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Higher number means better indexing performance. Reduce if you are getting memory errors.</comment>
                        </pagesize>
                        <delete_documents_before_indexing translate="label">
                            <label>Delete all Solr Index Entries before Reindexing</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </delete_documents_before_indexing>
                    </fields>
                </indexing>

                <fuzzy translate="label">
                    <label>Fuzzy Search</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_active translate="label">
                            <label>Is active for Search</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_active>
                        <sensitivity translate="label">
                            <label>Sensitivity for Search</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Value between 0 and 1. Smaller values mean more fuzzy search results.</comment>
                            <depends><is_active>1</is_active></depends>
                        </sensitivity>
                        <is_active_autosuggest translate="label">
                            <label>Is active for Autosuggest</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_active_autosuggest>
                        <sensitivity_autosuggest translate="label">
                            <label>Sensitivity for Autosuggest</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Value between 0 and 1. Smaller values mean more fuzzy search results.</comment>
                            <depends><is_active_autosuggest>1</is_active_autosuggest></depends>
                        </sensitivity_autosuggest>
                    </fields>
                </fuzzy>

                <results translate="label">
                    <label>Search Results</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <use_html_from_solr translate="label,comment">
                            <label>Use HTML from Solr Index</label>
                            <comment><![CDATA[Advantages: faster search<br />Disadvantages: slower indexing, no user dependant results]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_html_from_solr>
                        <search_operator translate="label">
                            <label>Search Operator</label>
                            <frontend_type>select</frontend_type>
                            <source_model>integernet_solr/source_searchOperator</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </search_operator>
                        <price_step_size translate="label,comment">
                            <label>Size of Price Steps</label>
                            <comment><![CDATA[i.e. 100]]></comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </price_step_size>
                        <max_price translate="label,comment">
                            <label>Upper Limit of Price Steps</label>
                            <comment><![CDATA[i.e. 1000]]></comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_price>
                        <use_custom_price_intervals translate="label,comment">
                            <label>Use Custom Price Intervals</label>
                            <comment><![CDATA[Needs Solr 4.10+]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </use_custom_price_intervals>
                        <custom_price_intervals translate="label,comment">
                            <label>Custom Price Intervals</label>
                            <comment><![CDATA[Divide steps by comma, i.e. 10,20,50,100,200,300,400,500]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><use_custom_price_intervals>1</use_custom_price_intervals></depends>
                        </custom_price_intervals>
                    </fields>
                </results>

                <autosuggest translate="label">
                    <label>Autosuggest Box</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>60</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_active translate="label">
                            <label>Is active</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </is_active>
                        <use_php_file_in_home_dir translate="label,comment">
                            <label>Method to retrieve autosuggest information</label>
                            <comment>Please see manual for information about the different methods.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>integernet_solr/source_autosuggestMethod</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <is_active>1</is_active>
                            </depends>
                        </use_php_file_in_home_dir>
                        <max_number_searchword_suggestions translate="label">
                            <label>Maximum number of searchword suggestions</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><is_active>1</is_active></depends>
                        </max_number_searchword_suggestions>
                        <max_number_product_suggestions translate="label,comment">
                            <label>Maximum number of product suggestions</label>
                            <comment>0 = don't show</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><is_active>1</is_active></depends>
                        </max_number_product_suggestions>
                        <max_number_category_suggestions translate="label,comment">
                            <label>Maximum number of category suggestions</label>
                            <comment>0 = don't show</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><is_active>1</is_active></depends>
                        </max_number_category_suggestions>
                        <show_complete_category_path translate="label">
                            <label>Show complete category path</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><is_active>1</is_active></depends>
                        </show_complete_category_path>
                        <category_link_type translate="label">
                            <label>Type of Category Links</label>
                            <frontend_type>select</frontend_type>
                            <source_model>integernet_solr/source_categoryLinkType</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><is_active>1</is_active></depends>
                        </category_link_type>
                        <attribute_filter_suggestions translate="label">
                            <label>Attribute Filter Suggestions</label>
                            <comment>0 = show all</comment>
                            <frontend_model>integernet_solr/config_attributeFilterSuggestions</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><is_active>1</is_active></depends>
                        </attribute_filter_suggestions>
                    </fields>
                </autosuggest>
            </groups>
        </integernet_solr>
    </sections>
</config>