<?xml version="1.0"?>
<config>
    <modules>
        <IntegerNet_SolrVitex>
            <version>0.1.0</version>
        </IntegerNet_SolrVitex>
    </modules>
    <global>
        <models>
            <integernet_solrvitex>
                <class>IntegerNet_SolrVitex_Model</class>
            </integernet_solrvitex>
        </models>
        <helpers>
            <integernet_solrvitex>
                <class>IntegerNet_SolrVitex_Helper</class>
            </integernet_solrvitex>
        </helpers>
    </global>

    <frontend>
        <events>
            <integernet_solr_filter_item_create>
                <observers>
                    <integernet_solrvitex>
                        <type>singleton</type>
                        <class>integernet_solrvitex/observer</class>
                        <method>integernetSolrFilterItemCreate</method>
                    </integernet_solrvitex>
                </observers>
            </integernet_solr_filter_item_create>
        </events>

        <translate>
            <modules>
                <integernet_solrvitex>
                    <files>
                        <default>IntegerNet_SolrVitex.csv</default>
                    </files>
                </integernet_solrvitex>
            </modules>
        </translate>

        <layout>
            <updates>
                <integernet_solrvitex>
                    <file>integernet/solr/vitex.xml</file>
                </integernet_solrvitex>
            </updates>
        </layout>
    </frontend>

    <default>
        <integernet_solr>
            <category>
                <is_indexer_active>1</is_indexer_active>
            </category>
            <cms>
                <is_active>1</is_active>
            </cms>
            <autosuggest>
                <max_number_category_suggestions>4</max_number_category_suggestions>
                <max_number_cms_page_suggestions>4</max_number_cms_page_suggestions>
            </autosuggest>
            <results>
                <number_visible_items>5</number_visible_items>
            </results>
        </integernet_solr>
    </default>
</config>